.search-bar {
  margin-top: 40px;

  .search-input {
    float: left;
    padding-right: 240px;
  }

  .mode-btn {
    position: relative;
    z-index: 1;
    float: left;
    margin-left: -210px;
    padding-top: 4px;
    padding-bottom: 2px;
    width: 76px;
    background: rgba(236, 241, 255, 1);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: rgba(5, 103, 255, 1);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;

    .icon {
      width: 20px;
    }

    .text {
      margin-top: 2px;
    }
  }
}
