.tab {
  $unknown-color: #F6FBFF;

  .tab-header {
    font-size: 0;

    li {
      display: inline-block;
      padding: 10px 44px;
      line-height: 24px;
      font-size: 24px;
      color: #fff;
      background: rgba(53, 139, 254, 0.25);
      border-radius: 10px 10px 0 0;
      cursor: pointer;

      &.active {
        color: rgba(53, 139, 254, 1);
        font-weight: 600;
        background: $unknown-color;
      }
    }
  }

  .tab-body {
    padding: 30px 220px 30px 20px;
    background: $unknown-color;
  }
}


.card-title_arrow {
  $arrow-width: 20px;
  position: relative;
  padding: 5px 0 5px 15px;
  width: 181px - $arrow-width; // 箭头位置
  height: 28px;
  line-height: 18px;
  font-size: 18px;
  white-space: nowrap;
  color: #fff;
  background-color: $sign-color;

  .letter {
    position: relative;
    z-index: 1;
    font-size: 12px;
    vertical-align: middle;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    display: block;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: $arrow-width solid $sign-color;
    border-bottom: 14px solid transparent;
  }
}

.card-content {
  padding: 9px 15px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(88, 96, 102, 1);
  background: rgba(246, 251, 255, 1);
}


