@font-face {
  font-family: 'PingFang-SC';
  src: url('~@public/font/PingFang-SC-Regular.ttf');
}

@font-face {
  font-family: 'PingFang-TC';
  src: url('~@public/font/PingFang-TC-Regular.ttf');
}

// 如果样式有冲突，先注释
* {
  word-break: break-all;
}

// fix braft-editor富文本
.media-wrap.image-wrap img.media-wrap.image-wrap {
  max-width: 100%;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  font-family: PingFang-SC !important;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: middle;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.media-wrap.image-wrap img { //富文本中图片样式
  width: 100%;
}

.project-container__wrapper {

}

.project-container {
  margin: auto;
  max-width: $project-width;
  height: 100%;
  width: 100%;
}


@for $i from 0 through 50 {
  $size: #{$i}px;

  .margin#{$i} {
    margin: $size;
  }
  .padding#{$i} {
    padding: $size;
  }
  .mt-#{$i} {
    margin-top: $size;
  }
  .pt-#{$i} {
    padding-top: $size;
  }

  .mr-#{$i} {
    margin-right: $size;
  }
  .pr-#{$i} {
    padding-right: $size;
  }

  .mb-#{$i} {
    margin-bottom: $size;
  }
  .pb-#{$i} {
    padding-bottom: $size;
  }

  .ml-#{$i} {
    margin-left: $size;
  }
  .pl-#{$i} {
    padding-left: $size;
  }
}


.hr-slide-style-1 {
  height: 1px;
  background-color: #dcdee2;
}

.hr-slide-style-2 {
  height: 1px;
  background: rgba(5, 103, 255, 0.51);
}

.hr-slide-style-3 {
  height: 1px;
  background-color: #eee;
}

.hr-dashed {
  height: 1px;
  background-image: linear-gradient(to right, rgb(224, 232, 235) 0%, rgb(224, 232, 235) 70%, transparent 100%);
  background-size: 11px 1px;
  background-repeat: repeat-x;
  // https://segmentfault.com/q/1010000002442556/a-1020000012861824
}

.detail-page-caption {
  position: relative;
  height: 52px;
  padding-left: 20px;
  border-bottom: 1px solid #BFC5CA;

  & > span {
    display: inline-block;
    position: relative;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      background: $sign-color;
    }
  }

}

.page-title-1 {
  line-height: 24px;
  font-size: 24px;
  font-weight: 600;
  color: $sign-color;

  &::before {
    content: '';
    display: inline-block;
    margin-right: 16px;
    width: 4px;
    height: 22px;
    vertical-align: -3px;
    background-color: #0000FF; // todo sass var
  }
}

.text-tag-group {
  margin-left: -10px;

  .text-tag {
    position: relative;
    margin: 0 10px;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: -1px;
      right: -12px;
      height: 16px;
      border-right: 1px solid #EEEEEE;
    }
  }
}

.text-tag {
  $primary: #0972FF;
  $yellow: #FEC400;
  $orange: #FD932F;
  $info: #358BFE;

  display: inline-block;
  padding: 3px 20px;
  line-height: 12px;
  font-size: 12px;
  line-height: 12px;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 2px;

  &.small {
    padding: 1px 15px;
  }

  &.tiny {
    padding: 1px 10px;
  }

  &.yellow {
    color: $yellow;
    border-color: $yellow;
  }

  &.orange {
    color: $orange;
    border-color: $orange;
  }


  // 状态
  &.info {
    color: $info;
    border-color: $info;
  }
}


.ue-link {
  cursor: pointer;

  &:hover {
    color: $sign-color !important;
  }
}

